
@media (min-width: 600px) {
    

.container {
    background: rgb(143, 3, 3);
}

.main__content {
    background: rgb(63, 101, 198);
}



.card{
    
    background: rgb(19, 63, 165);
}


.card h4{
    color: aliceblue;
}

.card p{
    color: aliceblue;
}












  }